.post-header{
    color: var(--font-clr-text);
    font-size: var(--font-small-text);
    font-weight: var(--fw-regular);
    border-bottom: 1px solid var(--clr-border-card);

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.post-header-profile{
    background-color: #D9D9D9;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.post-header-text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.post-header-text > h2{
    font-size: var(--font-subheader);
    font-weight: var(--fw-semibold);
    display: flex;
    align-items: center;
}

.post-header-text > h2 > span{
    color: var(--font-clr-text-secondary);
    font-size: var(--font-tiny-text);
    font-weight: var(--fw-regular);
    margin-left: 0.5rem;
}

.post-header-text > p {
    font-size: var(--font-tiny-text);
    font-weight: var(--fw-light);
}

.post-header-time{
    color: var(--font-clr-text-secondary);
}

.post-header-menu{
    margin-left: auto;
    position: relative;
}

